* {
  padding: 0;
  margin: 0;
}

.slider {
  width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;

  .slider_container {
    height: 400px;
    display: flex;
    transform: translate(0);
    transition: transform 0.8s ease;

    img {
      width: 100%;
    }
  }

  .slider_controls {
    color: rgb(31, 31, 31);
    font-size: 3rem;

    .previous {
      left: 20px;
    }

    .next {
      right: 20px;
    }

    .previous,
    .next {
      width: 20px;
      display: inline-block;
      cursor: pointer;
      opacity: 0.75;
      transform: translateY(-50%);
      top: 50%;
      position: absolute;
    }
  }

  .shortcuts {
    position: absolute;
    bottom: 20px;
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: center;

    .shortcut {
      cursor: pointer;
      background-color: rgba(255, 255, 255, 0.75);
      border-radius: 50%;
      width: 20px;
      margin: 0 5px;
      transition: all 0.3 ease;

      &:hover {
        background-color: rgba(200, 200, 200, 0.75);
      }
      &.active {
        background-color: rgba(100, 100, 100, 0.75);
      }
    }
  }
}
